@charset "utf-8";
@import url(./utils.css);
@import url(./root.css);

html {
  font-family: 'Nunito Sans', 'Fira Sans', Arial, sans-serif;
}

body {
  background-color: var(--app-color-dark-bg);
}

main {
  color: #fff;
  height: 100svh;
  padding-top: 40px;
}

.box {
  height: 150px;
  width: 200px;
  background-color: #000;
  display: flex;
  flex-direction:column;
  justify-content: center;
  border-radius: var(--app-box-radius);
  border: 1px solid rgb(255 255 255 / 20%);
  box-shadow: var(--aoo-box-shadow);

}

.box h2 {
  font-size: 20px;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  background-color: rgb(255 255 255 / 10%);
  border-bottom: 1px solid rgb(255 255 255 / 25%);
  border-radius: 6px 6px 0 0;
}

.info {
  font-size: 14px;
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

.wifi {
  font-size: 18px;
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--app-box-radius);
  background-color: rgb(255 255 255 / 25%);
}

.online {
  background-color: #03c03c;
}

.offline {
  background-color: #ff0800;
}
